<article class="post">
  <header class="post-header">
    <span class="post-meta">
      <time datetime="<%= post['year'] %>-<%= post['month'] %>-<%= post['day'] %>">
        <%= post['day'] %> <%= post['publishedAt'].strftime("%b") %> <%= post['year'] %>
      </time>
    </span>
    <h2 class="post-title"><a href="/<%= post['slug'] %>"><%= post['title'] %></a></h2>
  </header>
  <section class="post-excerpt">
    <p>
      <%= Sanitize.clean(Kramdown::Document.new(post['body']).to_html)[0..250] %>
    </p>
  </section>
</article>
