<article class="post">
  <header class="post-header">
    <span class="post-meta">
      <time datetime="<%= post['year'] %>-<%= post['month'] %>-<%= post['day'] %>">
        <%= post['day'] %> <%= post['published_at'].strftime("%b") %> <%= post['year'] %>
        <%= "on #{post['tags'].join(' | ')}" if post['tags'] %>
      </time>
    </span>
    <% if is_single_post_view %>
      <h1 class="post-title"><%= post['title'] %></h1>
    <% else %>
      <h2 class="post-title"><a href="/<%= post['slug'] %>"><%= post['title'] %></a></h2>
    <% end %>
  </header>
  <section class="<%= body_class %>">
    <p><%= post[body_property] %></p>
  </section>
</article>
